.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  padding: 20px;
  background-color: #23203e;
  color: lightgray;
}

.intro-container h1 {
  font-size: 2.8em;
  color: white;
  margin-bottom: 20px;
}

.intro-container p {
  font-size: 1.2em;
  max-width: 600px;
  margin-bottom: 30px;
  line-height: 1.6;
  color: lightgray;
  background-color: darkgray; /* New: background for the message */
  padding: 10px 15px; /* Add some padding for better appearance */
  border-radius: 5px; /* Slightly rounded corners */
}

.intro-buttons button {
  background-color: #c07481;
  color: white;
  border: none;
  padding: 12px 25px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.intro-buttons button:hover {
  background-color: #a8636e; /* Darker shade for hover */
}

.intro-buttons button:last-child {
  background-color: #d8c49c;
  color: black; /* New: text color for Request an Account button */
}

.intro-buttons button:last-child:hover {
  background-color: #c2b08a; /* Darker shade for hover */
}

.intro-logo {
  margin-top: 40px; /* Space above the logo */
  max-width: 150px; /* Adjust size as needed */
  height: auto;
  display: block; /* Ensures margin auto works for centering */
  margin-left: auto;
  margin-right: auto;
}
