.reporting-sidebar {
  width: 200px;
  padding: 20px;
  background-color: #c07481;
  border-right: 1px solid #eee;
}

.reporting-sidebar h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #646464; /* New color */
  font-size: 1.5em;
}

.reporting-sidebar h3 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #646464;
}

.reporting-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px; /* Add space after each list */
}

.reporting-sidebar li {
  margin-bottom: 8px;
  color: #646464; /* New color */
}

.reporting-sidebar .sidebar-title {
  margin-top: 20px; /* Space before title */
  margin-bottom: 10px;
  color: #646464; /* New color */
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}