.reporting-sidebar {
  width: 200px;
  padding: 20px;
  background-color: #646464;
  border-right: 1px solid #eee;
}

.reporting-sidebar h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff; /* White color for visibility on dark background */
  font-size: 1.5em;
  text-align: center;
}

.reporting-sidebar h3 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #333;
}

.reporting-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px; /* Add space after each list */
}

.reporting-sidebar li {
  margin-bottom: 8px;
  color: #c07481; /* New color */
}

.reporting-sidebar .sidebar-title {
  margin-top: 20px; /* Space before title */
  margin-bottom: 10px;
  color: #c07481; /* New color */
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}